.center
{
    text-align: center;
}

h1
{
    font-size: 19px;
    font-family: sans-serif;
    color: #666666;
}

h2
{
    font-size: 17px;
    font-family: sans-serif;
    color: #666666;
}

h3
{
    font-size: 15px;
    font-family: sans-serif;
    color: #666666;
}

a.ah3, a.h3:link, a.h3:active, a.h3:visited
{
    font-size: 15px;
    font-family: sans-serif;
    color: #666666;
}

a.ah3:hover
{
    font-size: 15px;
    font-family: sans-serif;
    color: #333333;
}

p
{
    font-size: 13px;
    font-family: sans-serif;
}

.p
{
    font-size: 13px;
    font-family: sans-serif;
}

p.fineprint
{
    font-size: 10px;
    font-family: sans-serif;
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    width: auto;
    height: auto;
}

table.maintable
{
    width: 100%;
    text-align: center;
}

table.righttable
{
    width: 100%;
    text-align: center;
    border-color: #999999;
}

col.leftcol
{
    width: 220px;
}

col.rightcol
{
}

col.righttablecol
{
    width: 20%;
}

td.lefttd
{
    vertical-align: top;
    text-align: center;
}

td.righttd
{
    vertical-align: top;
    text-align: center;
}

th.topbth
{
    vertical-align: top;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: #F3F3F3;
    background-color: #666666;
}

th.leftbth1
{
    vertical-align: top;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    color: #666666;
}

th.leftbth2
{
    vertical-align: top;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #F3F3F3;
    color: #666666;
}

td.bodytd1
{
    vertical-align: top;
    text-align: right;
    font-size: 13px;
    font-family: sans-serif;
}

td.bodytd2
{
    vertical-align: top;
    text-align: right;
    font-size: 13px;
    font-family: sans-serif;
    background-color: #F3F3F3;
}

td.emptyrow
{
    background-color: #666666;
}
